<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Kodhub::core_top_level"
            module="Kodhub_Core"
            resource="Kodhub_Core::core"
            sortOrder="9999"
            title="Kodhub"/>
    </menu>
</config>
